
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b30000;
}

.logoContainer {
  aspect-ratio: 1 / 1;
  width: 50%;
  height: 10%;
  max-width: 200px;
  max-height: 90px;
  position: relative;
}
.logo {
  transition: transform 0.3s ease;
  object-fit: contain;
}

.logo:hover {
  transform: scale(1.05);
}

.searchPlaceholder {
  font-size: 1rem;
  color: #333;
}

.pokemonGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
