.header {
  display: flex;
  background-color: #dc2626; /* Tailwind red-600 */
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-lg */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 1rem; /* py-6 px-4 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  aspect-ratio: 1 / 1;

  max-width: 200px;
  max-height: 90px;
}
.logo {
  transition: transform 0.3s ease;
  object-fit: contain;
  position : relative;
}

.logo:hover {
  transform: scale(1.05);
}


.searchBox {
  position: relative;
  width: 16rem; /* w-64 */
}

.searchBox input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  border: none;
  color: #1f2937; /* text-gray-800 */
  outline: none;
}

.searchBox input:focus {
  box-shadow: 0 0 0 2px #facc15; /* ring-yellow-300 */
}